Makefile
Makefile.in
.deps/
.libs/
*.o
*.lo
*.la
.DS_Store
config.h
config.h.in
*.bmp
*.png
*.gif
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libtool
src/my_image_decoder
src/stamp-h1
